<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Márton Mészáros">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Index</title>

  <link rel="author" href="">
  <link rel="icon" href="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous" defer></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" defer></script>
  <script src="/static/js/dom_generator.js" defer></script>
  <script src="/static/js/residents_closure.js" defer></script>
  <script src="/static/js/voting_closure.js" defer></script>
  <script src="/static/js/planets_closure.js" defer></script>
  <script id="js-main" src="/static/js/main.js" defer
      {% if session['user'] %}
        data-user="true"
      {% else %}
        data-user="false"
      {% endif %}></script>
</head>
<body>
  <header class="page-header container">
    <h1>Star Wars universe planets</h1>
    <div class="row">
    <nav class="col-sm-4">
      <button id="previous-page" class="btn btn-primary">Previous</button>
      <button id="next-page" class="btn btn-primary">Next page</button>
      <button id="votes" class="btn btn-default" data-toggle="modal" data-target="#votes-modal">Show votes</button>
    </nav>
    <nav class="col-sm-3 col-sm-offset-5 text-right">
    {% if session.get('user') %}
      <span class="btn">{{ session['user'] }}</span>
      <a class="btn btn-primary" href="/logout">Logout</a>
    {% else %}
      <a class="btn btn-primary" href="/login">Login</a>
      <a class="btn btn-primary" href="/register">Register</a>
    {% endif %}
    </nav>
    </div>
  </header>
  <main class="container">
    <table class="table table-bordered table-stripped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Diameter (km)</th>
        <th>Climate</th>
        <th>Terrain</th>
        <th>Surface water (%)</th>
        <th>Population</th>
        <th>Residents</th>
        {% if session['user'] %}
        <th>Vote for planet</th>
        {% endif %}
      </tr>
      </thead>
      <tbody id="planets-table-body"></tbody>
    </table>

    <section id="residents-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <header class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Residents</h2>
      </header>
      <section class="modal-body">
        <table class="table table-bordered table-stripped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Height (cm)</th>
            <th>Mass (kg)</th>
            <th>Hair color</th>
            <th>Skin color</th>
            <th>Eye color</th>
            <th>Birth year</th>
            <th>Gender</th>
          </tr>
          </thead>
          <tbody id="residents-table-body"></tbody>
        </table>
      </section>
      <footer class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
      </footer>
    </div>
    </div>
    </section>

    <section id="votes-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <header class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Planet votes</h2>
      </header>
      <section class="modal-body">
        <table class="table table-bordered table-stripped">
          <thead>
          <tr>
            <th>Planet</th>
            <th>Votes</th>
          </tr>
          </thead>
          <tbody id="votes-table-body"></tbody>
        </table>
      </section>
      <footer class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
      </footer>
    </div>
    </div>
    </section>
  </main>
</body>
</html>
